.header_image
{
width:100%;
}




.Sec1 {
    background: linear-gradient( red, rgb(47, 8, 51));

    color: white;
}



.Sec2 {
    background: linear-gradient( rgb(47, 8, 51),rgb(27, 192, 151) );
    color: white;
}

.Sec3 {
    background: linear-gradient( rgb(27, 192, 151) 20%,  rgb(2, 44, 21) 80%);
    color: white;
}

.Sec4 {
    background: linear-gradient(  rgb(141, 7, 7) , rgb(0, 0, 0) );
    color: white;
}


/* Hover Effects */
section:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 12px rgba(17, 0, 0, 0.925);
    background-color: black;
}



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 6px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin:70px;
    max-width: 1200px;
    
    padding: 20px ;
    align-items: center;
    transition: transform 0.3s, background-color 0.6s;
}
.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
   
}

.text {
    position: absolute;
    top: 60%;
    left:12%;
    color: black;
    font-size: 8rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}





/* Responsive Design */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    section {
        padding: 1rem;
        margin: 10%;
    }
    section:hover {
        
        padding: 1rem;
        transform: scale(1.2);
        margin: 10%;
    }
    .text
    {
        top: 15%;
        left:12%;
        font-size: 250%;
    }
}

















