
head
{
  background-color: rgb(44, 43, 43);
  color:rgb(253, 251, 251);
  margin :0%;
  padding:0%;
}

body
{
    color:white;
    background-color: rgb(44, 43, 43);
  
  margin :0%;
  padding:0%;
}

.navbar
{

    display:flex;
    background-color: rgb(44, 43, 43);
    color:white;
    padding: 1%;
    border-bottom: 2px solid rgb(243, 238, 238);

}

.navbaritem
{

    padding-left: 2%;
    color:white;
    text-decoration:none;

}
.navbaritem2
{

    font-weight: bold;
    padding-right: 50%;
    text-transform: capitalize;
}
.links
{
    
    color:white;

}
.body-container
{


    display: flex;
    padding: 3%;
    padding-left: 7%;
    
}

.info{

    padding-right: 25%;
    
}

.imgs
{
    width: 20%; /* You can set any size you want */
    height: 20%; /* Ensure it's a square for a perfect circle */
    border-radius: 80%;
    object-fit: cover; /* Ensures the image covers the area and maintains aspect ratio */
    border: 5px solid #2c2b2b; /* Optional: Add a border */
}

.logo
{
    width:  40%; /* You can set any size you want */
    height: 80%; /* Ensure it's a square for a perfect circle */
    border-radius: 30%;
    max-width: 100px; 
    padding: 0%;
    margin: 0%;
    object-fit: cover ; overflow: hidden;
}

.logo2
{
    width:  70%; /* You can set any size you want */
    height: 80%; /* Ensure it's a square for a perfect circle */
    border-radius: 5%;
    max-width: 200px; 
    padding: 0%;
    margin: 0%;
    object-fit: cover ; overflow: hidden;
}



.image-container {
    
    display: flex;
    background-color: rgb(44, 43, 43);;
    justify-content: left;
    padding-left: 5%;
    margin: 0%;
    gap: 0;
    object-fit: cover ; 
    overflow: hidden;
}


.arabic {
    font-family: 'Noto Sans Arabic', sans-serif; /* Font that supports Arabic script */
    direction: rtl; /* Right-to-left text direction for Arabic */
    text-align: center; /* Align text to the right for Arabic */
    padding: 1%;
    font-weight: bold;
    font-size: 200%;
}





@media only screen and (max-width: 768px) {

    


.navbaritem
{

    padding-right: 1%;
    padding-right: 0%;
    color:white;
    size: 2%;

}
.navbaritem2
{

    font-weight: bold;
    padding-right: 5%;
    text-transform: capitalize;
}

.imgs
{

    height: 45%;
    width: 25%;
}

.image-container
{
    align-content: end;
}

}