/* Reset some default styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    gap: 1rem;
}

.project {
    display:list-item;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    width: calc(33% - 20px); 
    text-align: center;
    margin: 0;
    padding: 0;
}




.project img {
    width: 100%;
    height: 20rem;
    display: block;

}

.project h2 {
    margin: 15px 0;
}

.project a {
    display: block;
    padding: 10px;
    background-color: #2326d1;
    color: #fff;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    align-items: end;
}

.project a:hover {
    background-color: #d1275f;
}


.images_proj
{
    background-origin: padding-box;
    height: 100%;
    width: 10%;
}




@media only screen and (max-width: 768px) {


    .projects-container {
       
        padding: 5px;
        width: 25rem;
        gap: 20px;
    }
    
.project img {
    width:  5 rem;
    height: 10rem;
    display: block;

}

.project {

    width: calc(33%); 
    height: 80%;

   
}
.project_vid
{
  size: 20%;
}



}
