/* Reset some default styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
  
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #333;
    margin: 0;
    padding: 0;
    width:100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;

    justify-content:space-evenly;
    padding: 14px;
     
     margin: 20px;
}

.project {
    display:list-item;
    background: #0e0000;
    border-radius: 1rem;
    box-shadow: 0 12px 12px rgba(114, 108, 108, 0.767);
    overflow: auto;
    width: calc(33% - 20px); 
    text-align: center;
    margin: 23px;
    color: aliceblue;
    padding: 10px;
    

}

.project_vid
{
    display:list-item;
    background: #080000;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    width: 60%; 
    height: 100%; 
    text-align: center;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-weight: bold;
}


.project img {
    width: 100%;
    height: 20rem;
    display: block;

}

.project h2 {
    margin: 15px 0;
}

.project a {
    display: block;
    padding: 10px;
    background-color: #2326d1;
    color: #fff;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    align-items: end;
}

.project a:hover {
    background-color: #d1275f;
}


.images_proj
{
    background-origin: padding-box;
    height: 100%;
    width: 10%;
}

.vid_link
{
   padding: 20%;
   color: #2326d1;
   
}


@media only screen and (max-width: 768px) {



    
    .projects-container {
       
        padding: 5px;
        width:100%;
        gap: 20px;

    }
    
.project img {
    width:  5 rem;
    height: 10rem;
    display: block;

}

.project {

    width: calc(39%); 
    height: 80%;
    padding: 5px;
    margin: 10px;
   
}
.project_vid
{
  size: 20%;
  
}



}
