




#Sec1 {
    background: linear-gradient( #384B70, #507687);

    color: white;
   
}

#Sec2 {
    background: linear-gradient(#FCFAEE,#B8001F);
    color: rgb(0, 0, 0);
}

#Sec3 {
    background: linear-gradient(#384B70, #507687);

    color: white;
}

#Sec4 {
    background: linear-gradient(#FCFAEE,#B8001F);
    color: rgb(0, 0, 0);
}

#Sec5 {
    background: linear-gradient(#384B70, #507687);
    color: white;
   
}

#Sec6 {
    background: linear-gradient( #FCFAEE,#B8001F);
    color: rgb(0, 0, 0);
}



#Sec7{
    background: linear-gradient( #384B70, #507687);
    color: rgb(240, 240, 240);
}

/* Hover Effects */
section:hover {
  
    transform: scale(1.03);
   
}



body {
    font-family: 'Arial', sans-serif;
    margin-left : 0px;
    margin-right : 0px;
    padding: 0px;
    background-color: #333;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin: 40px;
    max-width: 1200px;
    border-radius: 25%;
    padding: 3rem;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
}




/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
        padding: 0 1rem;
    }


    section {
        padding: 1rem;
        margin-left: 20%;
        border-radius: 10%;
        width:auto;
        
    }
    section:hover {
        
        padding: 1rem;
        transform: scale(1.07);
        margin: 10%;
    }
        

}

















